<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 05
1) Explore College Scorecard website - https://collegescorecard.ed.gov/

2) Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/

3)Download and read the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf

4) Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)

5) Unzip the file into a folder in your personal computer (there are many files, one for each school year)

6) Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:
- how many colleges or rows?
- how many variables or columns?
- Look at the first 5 colleges
- look at the last 5 colleges
- Look at a random sample of 5 colleges

7) Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
- UNITID
- INSTNM
- CITY
- STABBR
- ZIP
- ADM_RATE
- UGDS
- TUITIONFEE_IN
- MN_EARN_WNE_P10

8) Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

9) Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook will know the meaning of these variables.

10) Explore the smaller data frame
- Look at the first 10 colleges
- Look at the last 10 colleges
- Look at a random sample of 10 colleges
- Find and display UMBC
- Find Univ. of Maryland College Park
- Find and display Loyola College Maryland
- Find and display Johns Hopskins
- Calculate the min, max, and average in-state tution of the above four institutions.

11) Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

#**Question 6**

In [13]:
#Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset


import pandas as pd


data=pd.read_csv('MERGED2017_18_PP.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
#How many colleges or rows? There are 7112 colleges
#how many variables or columns? There are 1986 variables

data.shape

(7112, 1986)

In [15]:
# Look at the first 5 colleges

data.head()

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

In [16]:
#Look at the last 5 colleges

data.tail()

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

In [17]:
#Look at a random sample of 5 colleges

data.sample(5)

      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
4700  431123  2576100  ...                       NaN            NaN
1300  156417  2535600  ...                       NaN            NaN
6499  487922  4240700  ...                       NaN            NaN
5509  455628  3010803  ...                       NaN            NaN
5450  454777  4141300  ...                       NaN            NaN

[5 rows x 1986 columns]

#**Question 7**

In [18]:
#Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
#'UNITID', 'INSTNM', 'CITY', 'STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'

data_9= data[['UNITID', 'INSTNM', 'CITY', 'STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10']]
data_9

        UNITID  ... MN_EARN_WNE_P10
0       100654  ...             NaN
1       100663  ...             NaN
2       100690  ...             NaN
3       100706  ...             NaN
4       100724  ...             NaN
...        ...  ...             ...
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[7112 rows x 9 columns]

#**Question 9**

- UNITID=
- INSTNM=
- CITY=
- STABBR=
- ZIP=
- ADM_RATE=
- UGDS=
- TUITIONFEE_IN=
- MN_EARN_WNE_p10=