<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 05
1) Explore College Scorecard website - https://collegescorecard.ed.gov/

2) Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/

3)Download and read the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf

4) Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)

5) Unzip the file into a folder in your personal computer (there are many files, one for each school year)

6) Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:
- how many colleges or rows?
- how many variables or columns?
- Look at the first 5 colleges
- look at the last 5 colleges
- Look at a random sample of 5 colleges

7) Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
- UNITID
- INSTNM
- CITY
- STABBR
- ZIP
- ADM_RATE
- UGDS
- TUITIONFEE_IN
- MN_EARN_WNE_P10

8) Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

9) Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook will know the meaning of these variables.

10) Explore the smaller data frame
- Look at the first 10 colleges
- Look at the last 10 colleges
- Look at a random sample of 10 colleges
- Find and display UMBC
- Find Univ. of Maryland College Park
- Find and display Loyola College Maryland
- Find and display Johns Hopskins
- Calculate the min, max, and average in-state tution of the above four institutions.

11) Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

#**Question 6**

In [13]:
#Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset


import pandas as pd


data=pd.read_csv('MERGED2017_18_PP.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
#How many colleges or rows? There are 7112 colleges
#how many variables or columns? There are 1986 variables

data.shape

(7112, 1986)

In [15]:
# Look at the first 5 colleges

data.head()

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

In [16]:
#Look at the last 5 colleges

data.tail()

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

In [17]:
#Look at a random sample of 5 colleges

data.sample(5)

      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
5986  475644  4164300  ...                       NaN            NaN
2158  187903   265500  ...                       NaN            NaN
4966  442569  4122300  ...                       NaN            NaN
4830  438869  3026518  ...                       NaN            NaN
4350  385132  2612700  ...                       NaN            NaN

[5 rows x 1986 columns]

#**Question 7**

In [18]:
#Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
#'UNITID', 'INSTNM', 'CITY', 'STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'

data_9= data[['UNITID', 'INSTNM', 'CITY', 'STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10']]
data_9

        UNITID  ... MN_EARN_WNE_P10
0       100654  ...             NaN
1       100663  ...             NaN
2       100690  ...             NaN
3       100706  ...             NaN
4       100724  ...             NaN
...        ...  ...             ...
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[7112 rows x 9 columns]

#**Question 9**

- UNITID= Unit ID for Institution
- INSTNM= Institution name
- CITY= City where the institution is
- STABBR= City State
- ZIP= City Zip code
- ADM_RATE= Admission Rate
- UGDS= Undergraduate Students
- TUITIONFEE_IN= Tuition fees
- MN_EARN_WNE_p10= Median earnings of federally-aided completers in the earnings cohort

#**Question 10**

In [19]:
#Look at the first 10 colleges

data_9.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

In [20]:
#Look at the last 10 colleges

data.tail(10)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7102  48154401  4220901  ...                       NaN            NaN
7103  48305401  4224601  ...                       NaN            NaN
7104  48312401   108131  ...                       NaN            NaN
7105  48312402   108161  ...                       NaN            NaN
7106  48312403   108162  ...                       NaN            NaN
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[10 rows x 1986 columns]

In [21]:
#Look at a random sample of 10 colleges

data.sample(10)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
393     119173   124300  ...                       NaN            NaN
2149    187532   474200  ...                       NaN            NaN
1780    174127   236500  ...                       NaN            NaN
3906    240879  2343600  ...                       NaN            NaN
6787  15492501   191008  ...                       NaN            NaN
4633    421610  3110400  ...                       NaN            NaN
851     140696   158600  ...                       NaN            NaN
106     105543  2217103  ...                       NaN            NaN
5276    449481  3888300  ...                       NaN            NaN
5844    461537  4173900  ...                       NaN            NaN

[10 rows x 1986 columns]

In [22]:
#Find and display UMBC
#Find Univ. of Maryland College Park
#Find and display Loyola College Maryland
#Find and display Johns Hopskins
#Calculate the min, max, and average in-state tution of the above four institutions.

x=data_9[['INSTNM']]
print(x)

                                                 INSTNM
0                              Alabama A & M University
1                   University of Alabama at Birmingham
2                                    Amridge University
3                   University of Alabama in Huntsville
4                              Alabama State University
...                                                 ...
7107                   Arizona State University at Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...
7109           High Desert Medical College - Bakerfield
7110                                       BCI - Malden
7111               HCI College - Fort Lauderdale Campus

[7112 rows x 1 columns]

In [46]:
#Find and display UMBC

UMBC=data_9.loc[data_9["INSTNM"] == "University of Maryland-Baltimore County"]
UMBC

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN

[1 rows x 9 columns]

In [43]:
#Find Univ. of Maryland College Park

UMD=data_9.loc[data_9["CITY"] == "College Park"]
UMD

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

In [47]:
#Find and display Loyola College Maryland

Loyola=data_9.loc[data_9["INSTNM"] == "Loyola University Maryland"]
Loyola

      UNITID                      INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1475  163046  Loyola University Maryland  ...       47560.0             NaN

[1 rows x 9 columns]

In [51]:
#Find and display Johns Hopskins

Johns_Hopkins=data_9.loc[data_9["INSTNM"] == "Johns Hopkins University"]
Johns_Hopkins

      UNITID                    INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1473  162928  Johns Hopkins University  ...       52170.0             NaN

[1 rows x 9 columns]